<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <title>Home</title>
  </head>
  <body>
    <%- include("partials/header") %>
    <main id="indexMain">
      <nav>
        <div id="time">Last Updated: <%= time %></div>
        <% if (locals.currentUser) { %>
        <a href="/post/create" id="newPost">New Post</a>
        <% } else { %>
        <div id="time">Sign-in To Post</div>
        <% } %>
      </nav>
      <%- include("partials/sidebar") %>
      <div id="content">
        <% if (query.length != 0) { %>
        <ul>
          <% query.forEach(post => { %>
          <a href="/post/<%= post.postid %>" class="query_posts">
            <li>
              <h1><%= post.title %></h1>
              <div class="post_info">
                <h6>
                  Created: <%= post.date_created.getMonth() + 1 %>/<%=
                  post.date_created.getDate() %>/<%=
                  post.date_created.getFullYear() %>
                </h6>
                <div class="inv_info_container">
                  <div class="inv_info">
                    <svg
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                      <g
                        id="SVGRepo_tracerCarrier"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></g>
                      <g id="SVGRepo_iconCarrier">
                        <path
                          d="M12 19.7501C11.8012 19.7499 11.6105 19.6708 11.47 19.5301L4.70001 12.7401C3.78387 11.8054 3.27072 10.5488 3.27072 9.24006C3.27072 7.9313 3.78387 6.6747 4.70001 5.74006C5.6283 4.81186 6.88727 4.29042 8.20001 4.29042C9.51274 4.29042 10.7717 4.81186 11.7 5.74006L12 6.00006L12.28 5.72006C12.739 5.25606 13.2857 4.88801 13.8883 4.63736C14.4909 4.3867 15.1374 4.25845 15.79 4.26006C16.442 4.25714 17.088 4.38382 17.6906 4.63274C18.2931 4.88167 18.8402 5.24786 19.3 5.71006C20.2161 6.6447 20.7293 7.9013 20.7293 9.21006C20.7293 10.5188 20.2161 11.7754 19.3 12.7101L12.53 19.5001C12.463 19.5752 12.3815 19.636 12.2904 19.679C12.1994 19.7219 12.1006 19.7461 12 19.7501ZM8.21001 5.75006C7.75584 5.74675 7.30551 5.83342 6.885 6.00505C6.4645 6.17669 6.08215 6.42989 5.76001 6.75006C5.11088 7.40221 4.74646 8.28491 4.74646 9.20506C4.74646 10.1252 5.11088 11.0079 5.76001 11.6601L12 17.9401L18.23 11.6801C18.5526 11.3578 18.8086 10.9751 18.9832 10.5538C19.1578 10.1326 19.2477 9.68107 19.2477 9.22506C19.2477 8.76905 19.1578 8.31752 18.9832 7.89627C18.8086 7.47503 18.5526 7.09233 18.23 6.77006C17.9104 6.44929 17.5299 6.1956 17.1109 6.02387C16.6919 5.85215 16.2428 5.76586 15.79 5.77006C15.3358 5.76675 14.8855 5.85342 14.465 6.02505C14.0445 6.19669 13.6621 6.44989 13.34 6.77006L12.53 7.58006C12.3869 7.71581 12.1972 7.79149 12 7.79149C11.8028 7.79149 11.6131 7.71581 11.47 7.58006L10.66 6.77006C10.3395 6.44628 9.95791 6.18939 9.53733 6.01429C9.11675 5.83919 8.66558 5.74937 8.21001 5.75006Z"
                          fill="#fffaf0"
                        ></path>
                      </g>
                    </svg>
                    <%= post.likes %>
                  </div>
                  <div class="inv_info">
                    <svg
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                      <g
                        id="SVGRepo_tracerCarrier"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></g>
                      <g id="SVGRepo_iconCarrier">
                        <path
                          d="M17 10.75H7C6.80109 10.75 6.61032 10.671 6.46967 10.5303C6.32902 10.3897 6.25 10.1989 6.25 10C6.25 9.80109 6.32902 9.61032 6.46967 9.46967C6.61032 9.32902 6.80109 9.25 7 9.25H17C17.1989 9.25 17.3897 9.32902 17.5303 9.46967C17.671 9.61032 17.75 9.80109 17.75 10C17.75 10.1989 17.671 10.3897 17.5303 10.5303C17.3897 10.671 17.1989 10.75 17 10.75Z"
                          fill="#fffaf0"
                        ></path>
                        <path
                          d="M20 6.75H4C3.80109 6.75 3.61032 6.67098 3.46967 6.53033C3.32902 6.38968 3.25 6.19891 3.25 6C3.25 5.80109 3.32902 5.61032 3.46967 5.46967C3.61032 5.32902 3.80109 5.25 4 5.25H20C20.1989 5.25 20.3897 5.32902 20.5303 5.46967C20.671 5.61032 20.75 5.80109 20.75 6C20.75 6.19891 20.671 6.38968 20.5303 6.53033C20.3897 6.67098 20.1989 6.75 20 6.75Z"
                          fill="#fffaf0"
                        ></path>
                        <path
                          d="M20 14.75H4C3.80109 14.75 3.61032 14.671 3.46967 14.5303C3.32902 14.3897 3.25 14.1989 3.25 14C3.25 13.8011 3.32902 13.6103 3.46967 13.4697C3.61032 13.329 3.80109 13.25 4 13.25H20C20.1989 13.25 20.3897 13.329 20.5303 13.4697C20.671 13.6103 20.75 13.8011 20.75 14C20.75 14.1989 20.671 14.3897 20.5303 14.5303C20.3897 14.671 20.1989 14.75 20 14.75Z"
                          fill="#fffaf0"
                        ></path>
                        <path
                          d="M17 18.75H7C6.80109 18.75 6.61032 18.671 6.46967 18.5303C6.32902 18.3897 6.25 18.1989 6.25 18C6.25 17.8011 6.32902 17.6103 6.46967 17.4697C6.61032 17.329 6.80109 17.25 7 17.25H17C17.1989 17.25 17.3897 17.329 17.5303 17.4697C17.671 17.6103 17.75 17.8011 17.75 18C17.75 18.1989 17.671 18.3897 17.5303 18.5303C17.3897 18.671 17.1989 18.75 17 18.75Z"
                          fill="#fffaf0"
                        ></path>
                      </g>
                    </svg>
                    <%= post.num_of_comments %>
                  </div>
                </div>
              </div>
            </li>
          </a>
          <% }) %>
        </ul>
        <% } else { %>
        <div id="contentError">No Posts Available...</div>
        <% } %>
      </div>
    </main>
    <%- include("partials/footer") %>
  </body>
</html>
